.Cards {
    background-color: #36454F;
    color: #F6CA80;
}

.Buttons {
    background-color: #36454F;
    color: #F6CA80;
}

.IndividualCard{
    background-color: #36454F;
    color: #F6CA80;
}

.CardHeader{
    background-color: #BECFDB;
}

.CardBody{
    background-color: #BECFDB;
    color: #000000;
}