@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App {
    max-height: 100vh;
    position: relative;
}

.Main {
    padding-top: 100px;
}

.notificationContainer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }